name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.12', '1.13', '1.14']
    env:
      VERBOSE: 1
      GOFLAGS: -mod=readonly
      GOPROXY: https://proxy.golang.org

    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: go generate
        run: go generate

      - name: Run tests
        run: go test ./...

      - name: Calc coverage
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin   
          go test -v -covermode=count -coverprofile=coverage.out
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1.0.0
        with:
            infile: coverage.out
            outfile: coverage.lcov
      - name: Coveralls
        uses: coverallsapp/github-action@v1.0.1
        with:
            github-token: ${{ secrets.github_token }}
            path-to-lcov: coverage.lcov

      - name: Download cyclop
        run: |
          go get github.com/bkielbasa/cyclop
          cyclop .