name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Download linters
      run: |
      curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin
      go get github.com/philwinder/gocoverage
      go get github.com/mattn/goveralls
    
    - name: Execute tests
      run: go test ./...
    - name: Code coverage report
      run: |
        gocoverage
        goveralls -coverprofile=profile.cov -repotoken=$COVERALLS_TOKEN
        go test -race -coverprofile=coverage.txt -covermode=atomic
